* {
  margin: 0;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #efefef;
  height: 100vh;
}

.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
}

.error {
  color: red;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

thead {
  background-color: darkslateblue;
  color: wheat;
}

th {
  width: 250px;
  max-width: 300px;
  text-align: left;
}

td,
.card {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.card {
  color: darkslateblue;
}

td {
  vertical-align: middle;
  text-align: left;
}

label {
  background-color: darkslateblue;
  color: wheat;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  margin-top: 5px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: darkslateblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
}

.card-title {
  color: wheat;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-body {
  padding: 20px;
}

.form-control {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 14px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.form-control:hover,
.form-control:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the input fields when not editing */
.form-control[readonly] {
  background-color: #f8f9fa;
  border: none;
  position: relative;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Style the input fields when editing */
.form-control:not([readonly]):focus {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  outline: none;
  box-shadow: none;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(5%);
    opacity: 0;
  }

  51% {
    transform: translateX(-5%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.col-form-label {
  color: wheat;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.btn {
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: #007BFF;
  border: none;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0062CC;
}

.btn-secondary {
  background-color: #6C757D;
  border: none;
  color: #FFFFFF;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #5A6268;
}

.list-group {
  position: absolute;
  z-index: 999;
  min-width: 400px;
  width: 40%;
  overflow-y: scroll;
  max-height: 50vh;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #a9a9a9; /* Add a border */
  border-radius: 4px; /* Optional: Add border radius */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #0062CC;
  color: white;
}

.arrow-up:before,
.arrow-down:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
}

.arrow-up:before {
  border-style: solid;
  border-width: 0.3em 0.3em 0 0.3em;
  border-color: #fafafa transparent transparent transparent;
  margin-right: 0.25em;
}

.arrow-down:before {
  border-style: solid;
  border-width: 0 0.3em 0.3em 0.3em;
  border-color: transparent transparent #ffffff transparent;
  margin-right: 0.25em;
}