* {
  margin: 0;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  user-select: none;
}

body {
  height: 100vh;
  background-image: url(office.jpg);
  background-size: cover;
}

h1 {
  margin: 20px;
  color: gold;
}

h2 {
  margin: 20px;
  color: black;
}

.main {
  min-height: 75vh;
}

.main-2 {
  min-height: 85vh;
}

.main-home {
  display: flex;
  align-items: center;
}

.main-login {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

th {
  width: 250px;
  max-width: 300px;
  text-align: left;
}

td,
.card {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

td {
  vertical-align: middle;
  text-align: left;
}

label {
  color: goldenrod;
  border-radius: 10px;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.card {
  margin: 30px;
  background-color: #FFFFFF;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px gold outset;
}

.card-header {
  background-color: #343434;
  padding: 15px;
}

.card-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin: 10px;
}

.form-control {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 14px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.form-control:hover,
.form-control:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the input fields when not editing */
.form-control[readonly] {
  background-color: #f8f9fa;
  border: none;
  position: relative;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Style the input fields when editing */
.form-control:not([readonly]):focus {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  outline: none;
  box-shadow: none;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(5%);
    opacity: 0;
  }

  51% {
    transform: translateX(-5%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.col-form-label {
  color: goldenrod;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.title {
  font-size: 76px;
  font-weight: 600;
  background: linear-gradient(45deg, gold, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.subtitle {
  font-size: 1.5rem;
  background: linear-gradient(45deg, #ee4b2b, gold);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.btn {
  margin-top: 20px;
  width: 150px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 1px goldenrod outset;
}

.btn-dark {
  color: #343434;
}

.btn-gold {
  color: gold;
}

.btn-primary:hover,
.btn-primary:focus {
  background: linear-gradient(45deg, gold, #ee4b2b);
  border: 1px goldenrod outset;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border: 1px gold solid;
  border: 1px goldenrod outset;
}

.list-group {
  position: absolute;
  z-index: 999;
  min-width: 400px;
  width: 40%;
  overflow-y: scroll;
  max-height: 50vh;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #a9a9a9;
  /* Add a border */
  border-radius: 4px;
  /* Optional: Add border radius */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #0062CC;
  color: white;
}

.arrow-up:before,
.arrow-down:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
}

.arrow-up:before {
  border-style: solid;
  border-width: 0.3em 0.3em 0 0.3em;
  border-color: #fafafa transparent transparent transparent;
  margin-right: 0.25em;
}

.arrow-down:before {
  border-style: solid;
  border-width: 0 0.3em 0.3em 0.3em;
  border-color: transparent transparent #ffffff transparent;
  margin-right: 0.25em;
}